@import "subcss/init.css";

body {
   font-family: "poppins";
}

header {
   position: relative;
   width: 100%;
   height: 100vh;
   background-image: url(../assets/img/11.jpg);
   background-repeat: no-repeat;
   background-size: cover;
   background-position-y: 10%;
   background-position-x: 30%;
}

header .head {
   width: 45%;
   height: 100%;
   background-color: rgb(181, 137, 106);
   border-top-right-radius: 15px;
   border-bottom-right-radius: 15px;
   position: absolute;
   top: 0;
   left: 0;
}

header .head[data-img="../assets/img/11.jpg"] {
   background-color: rgba(181, 137, 106, 0.7);
}

header .head[data-img="../assets/img/5.jpg"] {
   background-color: rgba(65, 132, 157, 0.7);
}

header .head[data-img="../assets/img/1.jpg"] {
   background-color: rgba(65, 132, 157, 0.7);
}

header .head[data-img="../assets/img/5.jpg"] h1 {
   color: aliceblue;
}

header .head[data-img="../assets/img/1.jpg"] h1 {
   color: aliceblue;
}

header .head[data-img="../assets/img/5.jpg"] p {
   color: aliceblue;
}

header .head[data-img="../assets/img/1.jpg"] p {
   color: aliceblue;
}

header .head h1 {
   font-size: 1em;
   text-align: center;
   padding: 40px;
   color: wheat;
}

header .head p {
   color: wheat;
   padding: 20px;
   text-align: center;
   text-transform: capitalize;
   font-size: 0.7em;
}

header .head p span {
   font-weight: bold;
   font-size: 1.4em;
   color: white;
}

header .head a {
   display: inline-block;
   background-color: burlywood;
   color: white;
   margin-left: 5px;
   box-shadow: 0px 4px 20px black;
   padding: 2px;
   border-radius: 15px;
   outline: 2px solid white;
   font-size: 0.6em;
}

header .img-thumbs {
   position: absolute;
   right: 2px;
   top: 0;
   background-color: white;
   display: flex;
   flex-direction: column;
}

header .img-thumbs img {
   width: 45px;
   cursor: pointer;
   margin: 0 10px;
}
